"auth/validator": {
              "alg": "RS256",
              "jwk_url": "http://rentsoft_ms_user_keycloak:8080/auth/realms/rs-platform/protocol/openid-connect/certs",
              "disable_jwk_security": true
}